*{
  margin: 0;
}
body {
  background-color: #999999;
}

.header {
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(196, 255, 194);
}
header:hover{
  box-shadow: 3px 3px 10px white;
}

.header__name {
  font-family: sans-serif;
}

.currency {
  margin: 30px;
}


.currency__inputGroup{
  background: rgb(199, 219, 199);
  width: 250px;
  height: 35px;
  margin: 20px 5px 20px;
  display: grid;
  grid-template-columns: 200px 50px;
  border-radius: 15px;
}

.currency__inputGroup:active {
  box-shadow: 2px 2px 5px white;
}

input, select{
  background: none;
  border: 0;
}

input{
  padding-left: 10px;
}

input:focus{
  outline: none;
  border: none; 
}

.header__rates__rat::after{
  content: ' /грн';
  font-size: 10px;
}
